.about-card {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  align-self: center;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.about-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.about-project-cards {
  background-color: #fbf8f4;
  display: grid;
  grid-template-columns: repeat(2, 300px);

  justify-content: center;

  gap: 140px;

  padding: 60px 20px;
}

.about-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  display: block;
}

.about-card h3 {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 3;

  color: white;

  font-family: "Finlandica Headline", sans-serif;
  font-size: 42px;
  letter-spacing: 2px;

  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);

  margin: 0;
}

.about-card::after {
  content: "";

  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.35);

  z-index: 1;
}

.image-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* overlay */

.image-link h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  color: white;
}
